<!--<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>
      <a mat-list-item (click)="sidenav.close()">Dashboard</a>
      <a mat-list-item (click)="sidenav.close()">Projekte</a>
      <a mat-list-item (click)="sidenav.close()">Berichte</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      Mein Projekt-Dashboard
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>-->

<mat-drawer-container class="example-container">
  <mat-drawer class="sidenav" mode="side" opened>
    <!--
    <mat-nav-list>
      <div *ngFor="let project of projects">
        <mat-list-item (click)="detailedProject(project)">
          <span>{{ project.name }}</span>
          <button mat-icon-button (click)="editProject(project); $event.stopPropagation();">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-nav-list>-->

    <mat-card-content class="new-project-button">
      <button mat-raised-button color="white" [routerLink]="['/create-project']">Neues Projekt</button>
    </mat-card-content>
  </mat-drawer>
  <mat-drawer-content>
    <app-dashboard></app-dashboard>
  </mat-drawer-content>
</mat-drawer-container>

