<mat-toolbar color="primary">Projektdetails</mat-toolbar>

<div class="project-details">
  <mat-card>
    <mat-card-title>Zeitstempel hinzufügen</mat-card-title>
    <mat-form-field appearance="fill">
      <mat-label>Zeitstempel</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Wählen Sie ein Datum">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addTimestamp()">Hinzufügen</button>
  </mat-card>

  <mat-card>
    <mat-card-title>Teilnehmer</mat-card-title>
    <mat-list>
      <mat-list-item *ngFor="let participant of participants">
        {{ participant.name }} - {{ participant.role }}
      </mat-list-item>
    </mat-list>
  </mat-card>

  <mat-card>
    <mat-card-title>Aktivitätslog</mat-card-title>
    <mat-list>
      <mat-list-item *ngFor="let log of activityLogs">
        {{ log.entry }} - {{ log.date | date:'short' }}
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
